player-connection-mode=Listen
player-connection-guid=3601065573
player-connection-debug=0
player-connection-project-name=2dGame
player-connection-ip=192.168.50.249
player-connection-ip=26.10.70.148
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
